<div class="card-container">
  <% tours.forEach(e => { %>

  <div class="card">
    <div class="card__header">
      <div class="card__picture">
        <div class="card__picture-overlay">&nbsp;</div>
        <img src="<%= e.banner %> " alt="Tour 1" class="card__picture-img" />
      </div>

      <h3 class="heading-tertirary">
        <span><%= e.title %> </span>
      </h3>
    </div>

    <div class="card__details">
      <p class="card__text"><%= e.sortDescription %></p>
      <div class="card__data">
        <svg class="card__icon">
          <use xlink:href="img/icons.svg#icon-map-pin"></use>
        </svg>
        <span><%= e.departure %> </span>
      </div>
      <div class="card__data">
        <svg class="card__icon">
          <use xlink:href="img/icons.svg#icon-calendar"></use>
        </svg>
        <span> <span><%= e.destination %> </span></span>
      </div>
      <div class="card__data">
        <svg class="card__icon">
          <use xlink:href="img/icons.svg#icon-flag"></use>
        </svg>
        <span><%= e.time %> ngày</span>
      </div>
      <div class="card__data">
        <svg class="card__icon">
          <use xlink:href="img/icons.svg#icon-user"></use>
        </svg>
        <span><%= e.vehicle %> </span>
      </div>
    </div>

    <div class="card__footer">
      <p>
        <span class="card__footer-value"><%= e.price %> </span>
        <span class="card__footer-text">/1 người</span>
      </p>
      <p class="card__ratings">
        <span class="card__footer-value">5.0</span>
        <span class="card__footer-text">rating</span>
      </p>
      <a href="/detail/<%= e._id %> " class="btn btn--green btn--small"
        >Chi tiết</a
      >
    </div>
  </div>
  <% }) %>
</div>
